body {
    font-family: Arial;
}

#navbar {
    text-align: center;
    padding: 10px;
}

.nav-btn {
    padding: 10px;
    margin: 5px;
    display: inline-block;
    border: 1px solid black;
    text-decoration: none;
    color: black;
}

#home {
    text-align: center;
    padding: 50px;
}

.hero-logo {
    width: 150px;
}

#tickets {
    width: 80%;
    margin: auto;
}

.form-card,
.ticket,
.stat-card {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
}

.form-row {
    margin-bottom: 10px;
}

input,
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid black;
}

textarea {
    height: 100px;
}

.btn,
.filter-btn,
.btn-sm {
    padding: 10px;
    border: 1px solid black;
    background: white;
    cursor: pointer;
}

.ticket-title {
    font-size: 18px;
}

footer {
    text-align: center;
    padding: 20px;
}